:root{
    --font-label-font-size: 1.2rem;
    --form-input-border-color: hsl(var(--color-base-hue),100%,50%);
    --form-input-border-color-light: hsl(var(--color-base-hue),100%,80%); /*on focus of inputs*/
    --form-input-background-color: hsl(var(--color-base-hue),100%,31%);
}

.form-row{
    display: flex;
    margin-bottom: .5rem;
}
.form-row-end{
    justify-content: flex-end; 
    /*pushes the row content to end this is for btn of forms which has class form-row and form-row-end and btn-row as it contains btns only*/
}

.form-item{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    flex-grow: 1; /*The flex-grow property specifies how much the item will grow relative to the rest of the flexible items inside the same container.*/
    flex-basis: 0; /*this means from which point it will grow*/
}

.form-item:first-child{
    margin-left: 0;
}

.form-item-no-grow{
    flex-grow: 0;
}

.form-item > label{
    font-size: var(--form-label-font-size);
    margin-bottom: .25rem;
    margin-left: .25rem;
}

.form-item input, .form-item select, .form-item textarea{
    height: 2rem;
    padding: .25rem .5rem;
    border-radius: .25rem;
    border: 1px solid var(--form-input-border-color);
    background-color: var(--form-input-background-color);
    color: var(--color-text-light);
    font-size: 1rem;
    font-weight: normal;
    font-family: 'Gotham Rounded';
    outline: none;
}

.form-item textarea{
    height: 100%;
    resize: none;
}

.form-item select option{
    background-color: black;
}

.form-item input:focus, .form-item select:focus, .form-item textarea:focus{
    border-color: var(--form-input-border-color-light);
}

.filepond--root{ /*the filepond--root class for main filepond input */
    font-family: 'Gotham Rounded';
    margin-bottom: 0;
}

.filepond--panel-root{
    border: 1px solid var(--form-input-border-color);
    background-color: var(--form-input-background-color);
}

.filepond--drop-label{
    color: var(--color-text-light);
    font-size: inherit; /*inherit the font size of its parent */
}

.form-item-required::after{
    content: '*';
}

@media(max-width:600px){
    .form-row{
        flex-direction: column;
    }
    .form-row-end{
        flex-direction: row;
    }
    .form-item{
        margin-left: 0;
        margin-bottom: .5rem;
    }
}

@media(max-width:400px){
    .form-item input, .form-item select, .form-item textarea{
        padding: .2rem .3rem;
        width:100%;
    }
}

/*this file decorates all form inputs*/